################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/.vs/NFFM/v14
/Code/NFFM/bin
/Code/NFFM/obj
*.dll
*.exe
*.pdb
*.vshost
/Code/NFFM/obj
/Code/NFFM/bin
*.user
/Code/*.zip
/Code/.vs
/Code/NFFM-Web/bin
/Code/NFFM-Web/obj
/Code/NFFM-Web.Tests/obj
/Code/NFFM-Web.Tests/bin
/Code/packages
/Code/NFFM-Utility/obj
/Code/NFFM-Utility/bin/Debug/netstandard2.0
