################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/.vs/NFFM/v14
/Code/NFFM/bin
*.dll
*.exe
*.pdb
*.vshost
/Code/NFFM/obj
/Code/NFFM/bin
*.user
/Code/NFFM.zip
