@{
    ViewBag.Title = "NFFM Web";
}

<div class="jumbotron">
    <h1>NFFM - Web Demo</h1>
    <h2>Receiving Bill of Lading Entry Form</h2>
</div>

<div class="row">
    <div class="col-md-7 search-bar">
        <div class="col-md-2">Received Date:</div>
        <div class="col-md-3"><input type="text" class="form-control" /></div>
        <div class="col-md-1"></div>

        <div class="col-md-2">Trucker Name:</div>
        <div class="col-md-3"><input type="text" class="form-control" /></div>
        <div class="col-md-1"></div>

        <div class="col-md-2">Week Ending Date:</div>
        <div class="col-md-3"><input type="text" class="form-control" /></div>
        <div class="col-md-1"></div>

        <div class="col-md-2">Batch ID:</div>
        <div class="col-md-3"><input type="text" class="form-control" /></div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 search-result-list">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Bill of Landing#</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Shipper</th>
                    <th scope="col">Sales Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Unit of Measure</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                    <th scope="col">Ext</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">9</th>
                    <td>G&amp;G Seafood, Inc.</td>
                    <td>H&amp;Seco</td>
                    <td>H</td>
                    <td class="calculated">50-65 lbs</td>
                    <td class="calculated">total weight</td>
                    <td>9</td>
                    <td class="calculated">$0.60</td>
                    <td class="calculated">$5.40</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>G&amp;G Seafood, Inc.</td>
                    <td>H&amp;Seco</td>
                    <td>H</td>
                    <td class="calculated">50-65 lbs</td>
                    <td class="calculated">total weight</td>
                    <td>9</td>
                    <td class="calculated">$0.60</td>
                    <td class="calculated">$5.40</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>G&amp;G Seafood, Inc.</td>
                    <td>H&amp;Seco</td>
                    <td>H</td>
                    <td class="calculated">50-65 lbs</td>
                    <td class="calculated">total weight</td>
                    <td>9</td>
                    <td class="calculated">$0.60</td>
                    <td class="calculated">$5.40</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6"></td>
                    <td colspan="2" class="total">Trucking Total:</td>
                    <td>
                        <input type="text" class="form-control" readonly />
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
