<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="NFFM" connectionString="server=.\;database=nffm;UID=nffm_admin;password=welcome123;" providerName="System.Data.SqlClient" />
    <add name="NFFM.old" connectionString="server=.\SQLserver2014;database=NFFM_be_sql;UID=nffm_admin;password=welcome123;" providerName="System.Data.SqlClient" />
    <add name="NFFM.Properties.Settings.NFFM_be_sqlConnectionString" connectionString="server=.\;database=nffm;UID=nffm_admin;password=welcome123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>