<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="NFFM" connectionString="server=.\SQLExpress;database=nffm_be_sql;UID=sa;password=welcome123;"
            providerName="System.Data.SqlClient" />
        <add name="NFFM.Properties.Settings.NFFM_be_sqlConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=NFFM_be_sql;User ID=sa;Password=welcome123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>