<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="NFFM" connectionString="server=.\SQLserver2014;database=NFFM_be_sql;UID=nffm_admin;password=welcome123;"
            providerName="System.Data.SqlClient" />
        <add name="NFFM.Properties.Settings.NFFM_be_sqlConnectionString"
            connectionString="Data Source=.\SQLserver2014;Initial Catalog=NFFM_be_sql;User ID=nffm_admin;Password=welcome123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>